@import "../../scss/variables";

.button {
  border: 2px solid $color_black;
  padding: 22px;
  font-family: "Pixeboy", sans-serif;
  transition: $transition_default;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  .buttonContent {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 26px;
  }

  &.primaryColor {
    color: $color_black;
    background: $color_white;

    &:hover {
      color: $color_white;
      background: $color_black;
    }
  }

  &.secondaryColor {
    color: $color_white;
    background: $color_black;

    &:hover {
      color: $color_black;
      background: $color_white;
    }
  }
}
