@import "../../scss/variables";

.button {
  border: 2px solid $color_black;
  transition: $transition_default;
  font-family: "Pixeboy", sans-serif;
  font-weight: normal;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  .buttonContent {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 26px;
  }

  &.smSize {
    padding: 3px 8px 1px;

    .buttonContent {
      font-size: 16px;
      line-height: 16px;
    }
  }

  &.mdSize {
    padding: 5px 10px 3px;

    .buttonContent {
      font-size: 20px;
      line-height: 20px;
    }
  }

  &.lgSize {
    padding: 24px 22px 20px;
  }

  &.primaryColor {
    color: $color_black;
    background: $color_white;

    &:hover {
      color: $color_white;
      background: $color_black;
    }
  }

  &.secondaryColor {
    color: $color_white;
    background: $color_black;

    &:hover {
      color: $color_black;
      background: $color_white;
    }
  }

  &.greyColor {
    color: $color_black;
    background: $color_grey_fa;

    &:hover {
      background-color: $color_grey_e3;
    }
  }
}
