@import "../../scss/variables";

.Button {
  background: $color_white;
  border: 2px solid $color_black;
  padding: 22px;
  font-family: "Pixeboy", sans-serif;

  .ButtonContent {
    text-transform: uppercase;
    color: $color_black;
    font-size: 24px;
    line-height: 26px;
  }
}
