@import "../../../scss/variables";

.header {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  border: 2px solid $color_black;
  display: flex;
  align-items: center;
  background: $color_white;
  position: relative;

  .navigation {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;

    a {
      color: $color_black;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin: 0 15px;
      font-size: 24px;
      line-height: 24px;
    }

    .wojak {
      width: auto;
      height: 16px;
      margin-right: 8px;
      margin-top: -2px;
    }
  }

  .lines {
    height: 20px;
    margin: 0 16px;
    flex-grow: 1;

    .line {
      width: 100%;
      height: 1px;
      background: $color_black;
      margin-bottom: 3px;

      &.last-child {
        margin-bottom: 0;
      }
    }
  }

  .brand {
    background: $color_white;
    width: 50%;
    max-width: 330px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    h1 {
      margin: 0;
      font-size: 24px;
    }
  }

  .walletBlock {
    margin-right: 15px;

    .walletAddress {
      display: inline-block;
      border: 2px solid $color_black;
      padding: 3px 8px 1px;
      font-size: 16px;
      line-height: 16px;
      margin-right: 4px;
    }
  }
}
