@import "../../scss/variables";

.header {
  box-sizing: border-box;
  height: 44px;
  width: 100%;
  border-bottom: 2px solid $color_black;
  display: flex;
  align-items: center;
  background: $color_white;

  .lines {
    height: 20px;
    margin: 0 16px;
    flex-grow: 1;

    .line {
      width: 100%;
      height: 1px;
      background: $color_black;
      margin-bottom: 3px;

      &.last-child {
        margin-bottom: 0;
      }
    }
  }

  .brand {
    width: 50%;
    max-width: 330px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    h1 {
      margin: 0;
      font-size: 24px;
    }
  }
}
