$color_black: #000000;
$color_white: #ffffff;
$color_grey_ef: #efefef;
$color_grey_e3: #e3e3e3;
$color_grey_37: #374151;
$color_grey_f3: #f3f4f6;
$color_grey_f9: #f9fafb;
$color_black_11: #111827;

$transition_default: all 0.15s ease-in-out;
